.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;

  &--active {
    display: flex;
  }

  &__content {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    position: relative;
    max-width: 400px;
    min-height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
  }

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  &__text {
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    margin: 0;
  }
}